@model Twits.WEB.Models.RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/_MainLayout.cshtml";
}

<div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Login, "Логин:")
            @Html.TextBoxFor(m => m.Login)
            @Html.ValidationMessageFor(m => m.Login)

            <br />

            @Html.LabelFor(m => m.Password, "Пароль:")
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            <br />

            @Html.LabelFor(m => m.ConfirmPassword, "Повторите пароль:")
            @Html.PasswordFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)

            <br />

            <input type="submit" />
        }
    </div>
</div>

