<div class="logo inline-block">
    @Html.ActionLink("TWITS!", "Index", "Home")
</div>

@if (@User.Identity.IsAuthenticated)
{
    <div class="inline-block">
        @Html.ActionLink("Редактировать", "Edit", "User")
    </div>

    <div class="inline-block">
        @Html.ActionLink(@User.Identity.Name, "UserInfo", "User")
    </div>

    <div class="inline-block">
        @Html.ActionLink("Выйти!", "Logout", "Account")
    </div>

}
else
{
        @: Войди или зарегистрируйся!
    <div class="inline-block">
        @Html.ActionLink("Войти!", "Login", "Account")
    </div>
    <div class="inline-block">
        @Html.ActionLink("Зарегистрируйся!", "Register", "Account")
    </div>
}
