<div class="logo col-xs-12 col-sm-2">
        @Html.ActionLink("TWITS!", "Index", "Home")
    </div>

    @if (@User.Identity.IsAuthenticated)
    {
        @*<div class="col-xs-3">
                @Html.ActionLink("Редактировать", "Edit", "User")
            </div>*@

            <div class="col-xs-12 col-sm-2 col-sm-offset-8">
                @Html.ActionLink(@User.Identity.Name, "UserInfo", "User") 
                |
                @Html.ActionLink("Выйти!", "Logout", "Account")
            </div>

    }
    else
    {
        <div class="col-xs-12 col-sm-4 col-sm-offset-6">
            @Html.ActionLink("Войти!", "Login", "Account")
            |
            @Html.ActionLink("Зарегистрируйся!", "Register", "Account")
        </div>
    }




