
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/_MainLayout.cshtml";
}

@{ 
    string userName = ViewBag.UserName as string;
    int x = 0;

}

<script>
    $(document).ready(function () {
        var name = "@userName";

        if (name != null) {
            $("#showContent").load("/Message/GetFeed?user=" + name);
        }
        else {
            $("#showContent").load("/User/UserMessages");

        }
    });

</script>

<div class="container">
    <div class="container col-xs-12 col-sm-3">
        <div class="col-xs-12 text-center margin10">
            @{
                string path = "/Images/Avatars/av" + userName + ".png";
            }
            <img class="mediumImage" src=@path />
            <br />

            @{

                @Html.ActionLink(userName, "UserInfo", "User", new { user = userName }, new { @class = "large bold" })
            }
        </div>

        <div class="col-xs-12 text-center bold">

            @if (ViewBag.IsSubscribed != null)
            {
                if (!ViewBag.IsSubscribed)
                {                    
                    @Html.ActionLink("Подписаться", "Subscribe", "Subscription", new { subscription = userName }, null)
                }
                else
                {
                    @Html.ActionLink("Отписаться", "Unsubscribe", "Subscription", new { subscription = userName }, null)
                }
            }

            @if (ViewBag.NotMyPage != null && !ViewBag.NotMyPage)
            {
                if (User != null && User.Identity.IsAuthenticated && !ViewBag.NotMyPage)
                {
                    
                        @Ajax.ActionLink("Новое сообщение", "AddNewMessage", new AjaxOptions
                   {
                       HttpMethod = "GET",
                       UpdateTargetId = "showContent",
                       InsertionMode = InsertionMode.Replace
                   }
            )
                    
                }
            }
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <menu class="margin40">
            <menuitem class="col-xs-6 widthAuto">
                @Ajax.ActionLink("Сообщения", "UserMessages", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem class="col-xs-6 widthAuto">
                @Ajax.ActionLink("Лента", "GetFeed", "Message", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem class="col-xs-6 widthAuto">
                @Ajax.ActionLink("Подписки", "GetSubscriptions", "Subscription", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem class="col-xs-6 widthAuto">
                @Ajax.ActionLink("Подписчики", "GetSubscribers", "Subscription", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>
        </menu>

        <div id="showContent" class="container col-xs-12">

        </div>
    </div>
</div>




