
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/_MainLayout.cshtml";
}

@{ 
    string userName = ViewBag.UserName as string;
}

<script>
    $(document).ready(function () {
        var name = "@userName";

        if (name != null) {
            $("#showContent").load("/User/UserMessages?user=" + name);
            }
        else {
            $("#showContent").load("/User/UserMessages");
        }
    });
</script>

<div class="container">
    <div class="col-xs-12 col-sm-3">
        @{

            @Html.ActionLink(userName, "UserInfo", "User", new { user = userName }, null)
        }

        @if (ViewBag.IsSubscribed != null)
        {
            if (!ViewBag.IsSubscribed)
            {
                @Html.ActionLink("Подписаться", "Subscribe", "Subscription", new { subscription = userName }, null)
            }
            else
            {
                @Html.ActionLink("Отписаться", "Unsubscribe", "Subscription", new { subscription = userName }, null)
            }
        }
    </div>
    <div class="col-xs-12 col-sm-9">
        <menu>

            @if (User != null && User.Identity.IsAuthenticated && !ViewBag.NotMyPage)
            {

                <menuitem>
                    @Ajax.ActionLink("Новое сообщение", "AddNewMessage", new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
            )
                </menuitem>
            }

            <menuitem>
                @Ajax.ActionLink("Сообщения", "UserMessages", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem>
                @Ajax.ActionLink("Лента", "GetFeed", "Message", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem>
                @Ajax.ActionLink("Подписки", "GetSubscriptions", "Subscription", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>

            <menuitem>
                @Ajax.ActionLink("Подписчики", "GetSubscribers", "Subscription", new { user = userName }, new AjaxOptions
   {
       HttpMethod = "GET",
       UpdateTargetId = "showContent",
       InsertionMode = InsertionMode.Replace
   }
       )
            </menuitem>
        </menu>

        <div id="showContent" class="container col-xs-12">

        </div>
    </div>
</div>




